/* -- General properties -- */
* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color:inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    overflow:auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    position:relative;
}

:root {
    --width-menu-link: 120px;
    --gold-color: rgb(243, 192, 96);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* ------------------------ */
/* - Main page properties - */
div#website-title {
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    position:absolute;
    top:10px;
    right:10px;
    font-size: 1.2em;
    color:white;
}

div#media-icons {
    position:absolute;
    bottom: 20px;
    left: 20px;
}

div#media-icons a.media-icon img {
    height: 20px;
    margin-top: 20px;
    width: auto;
    display:block;
}


div#main-page img#scroll_down {
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translate(-50%, 0);
    max-width:30px;
    height:auto;
    transition:0.2s;
    z-index:2;
}

div#main-page img#scroll_down:hover {
    cursor:pointer;
    bottom:16px;
    transition:0.2s;
}

div#main-page {
    position:relative;
    height: 100%;
    width: 100%;
    min-height:400px;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    color:white;
}

div#scrollable-background {
    height: 105%;
    width: 105%;
    background-image: url("../images/PIN_9835.jpg");
    background-position-x:right;
    background-position-y:top;
    background-size:cover;
    position:fixed;
    z-index:-1;
}

div#main-page div#main-page-container {
    position:relative;
    opacity: 0;
    top:-65px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    align-content: center;
    width:100%;
    height:100%;
}

div#greeting {
    max-width: 550px;
    text-align: center;
    margin-bottom:20px;
}

div#greeting img.self-portrait {
    border-radius: 10%;
    max-width: 200px;
    height:auto;
}

div#greeting p#name {
    font-family: 'Righteous', sans-serif; 
    font-size:3.5em;
}

div#greeting div#description {
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items:center;
  align-content:center;
}

div#greeting div#description p#job-title {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size:1.8em;
}

div#greeting div#description div.whiteline {
  height:1px;
  background-color:white;
  border-radius: 50%;
  min-width:20px;
  flex-grow:1;
  margin-left: 10px;
  margin-right:10px;
}

.nav_menu {
    position: relative;
}
  
.nav_menu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Righteous', sans-serif;
    display: inline-block;
    width: var(--width-menu-link);
    text-align:center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
}

.nav_menu a:hover {
    color: var(--gold-color);
}

.nav_menu .dot {
    width: 6px;
    height: 6px;
    background: var(--gold-color);
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav_menu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(calc(0.5*var(--width-menu-link)));
    transform: translateX(calc(0.5*var(--width-menu-link)));
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.nav_menu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(calc(1.5*var(--width-menu-link)));
    transform: translateX(calc(1.5*var(--width-menu-link)));
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.nav_menu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(calc(2.5*var(--width-menu-link)));
    transform: translateX(calc(2.5*var(--width-menu-link)));
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.nav_menu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(calc(3.5*var(--width-menu-link)));
    transform: translateX(calc(3.5*var(--width-menu-link)));
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.nav_menu a:nth-child(5):hover ~ .dot {
    -webkit-transform: translateX(calc(4.5*var(--width-menu-link)));
    transform: translateX(calc(4.5*var(--width-menu-link)));
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
/* ------------------------ */

/* General page properties & navbar */
div.page {
    width: 100%;
    z-index: 1;
    box-sizing:border-box;
    min-width:320px;
    padding: 40px 5px 40px 5px;
}

div#navbar {
    display:none;
    position:fixed;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: center;
    align-content: center;
    width:100%;
    background-color:rgb(35, 35, 35);
    box-sizing: border-box;
    z-index: 4;
}

div#navbar div.navbar_buttons {
    padding:5px;
    margin:0px 10px 0px 10px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;;
    font-weight: bold;  
    box-sizing: border-box;
    color:white;
    display:block;
    text-align: center;
    font-size:0.9em;
    border-bottom:3px solid rgba(0, 0, 0, 0);
}

div#navbar div.navbar_buttons:hover {
    border-bottom: 3px solid white;
    cursor:pointer;
}

div.container {
    width: 70%;
    min-width: 300px;
    max-width: 800px;
    text-align:center;
    margin:auto;
    position:relative;
    overflow:hidden; 
}

div.page-content {
    text-align: justify;
    color:rgb(50, 50, 50);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size:1.2em;
}

p.page-title {
    font-family: "Righteous", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin-bottom:40px;
}
/* ------------------------ */


/* ------- About me ------ */
div#aboutMe {
    background-color: rgb(255, 255, 255);
    padding: 50px 5px 50px 5px;
}

div#aboutMe p.page-title {
    margin-bottom: 20px;
}

div#aboutMe div.page-content {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15px 15px;
}

div#aboutMe div#profile-card {
  flex-basis:150px;
  display:inline-block;
  text-align: center;
}

div#aboutMe div#profile-card img {
  width: 100%;
  height: auto;
  border-radius:50%;
  border: 2px solid black;
}

div#aboutMe div#aboutMe-description {
  flex-basis: 300px;
  flex-grow: 1;
  display: inline-block;
  border-left: 2px dashed rgba(0, 0, 0, 0.7);
  padding-left: 15px;
}
/* ------------------------ */


/* ------- Contact ------- */
div#contactMe {
    min-height:0px;
    background-color: rgb(21, 21, 21);
}

div#contactMe p.page-title {
    color:white;
}

div#contactMe div.container {
    width:100%;
    max-width:1600px;
}

div#contactMe div.page-content {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    align-content: center;
    width:100%;
    color:white;
}

div#contactMe div.contact-card,
div#contactMe a.contact-card {
    margin:10px;
    height:auto;
    text-align:center;
    min-width:180px;
}

div#contactMe a.contact-card:hover {
    text-decoration: none;
}



div#contactMe div.contact-card img, 
div#contactMe a.contact-card img{
    display:block;
    max-width:60px;
    max-height: 45px;
    height:auto;
    margin:auto;
    margin-bottom: 5px;
}

div#contactMe div.contact-card p.card-title,
div#contactMe a.contact-card  p.card-title {
    font-size: 1.2em;
    color: var(--gold-color)

}

div#contactMe div.contact-card p.card-description,
div#contactMe a.contact-card  p.card-description {
    font-size:0.7em;
    color:grey;
}

/* ------------------------ */

/* ------- Timeline ------- */

div#timeline div.container {
  width:80%;
  max-width:1000px;
}

div#timeline {
  font-size: 100%;
  font-family: "Droid Serif", serif;
  color: #7f8c97;
  background-color: #eee;
}

  
div#timeline  a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
  
div#timeline  img {
  max-width: 100%;
}
  
div#timeline  h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
  
.cd-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.cd-container::after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}
  
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#cd-timeline::before {
  /* this is the vertical line */
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline-block .cd-experience {
  background-color: slategray;
}

.cd-timeline-block::after {
  clear: both;
  content: "";
  display: table;
}

.cd-timeline-block:first-child {
  margin-top: 0;
}

.cd-timeline-block:last-child {
  margin-bottom: 0;
}
  
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background-color:var(--gold-color);
}

.cd-timeline-img img {
  display: block;
  width: 28px;
  height: 28px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -14px;
  margin-top: -14px;
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}

.cd-timeline-content::after {
  clear: both;
  content: "";
  display: table;
}

.cd-timeline-content h2 {
  color: #303e49;
}

.cd-timeline-content p.cd-timeline-location {
  margin:0px;
  color:gray;
}

.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  display: inline-block;
}

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content .cd-read-more {
  float: right;
  padding: 0.8em 1em;
  background: #acb7c0;
  color: #ffffff;
  border-radius: 0.25em;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
  float: left;
  padding: 0.8em 0;
  opacity: 0.7;
}

.cd-timeline-content::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
}
/* ------------------------ */


/* -------- Footer -------- */
div#footer {
    background-color:rgb(35, 35, 35);
    padding:10px 15px 5px 15px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: baseline;
    align-content: center;
    box-sizing: border-box;
}

div#media-icons-footer a.media-icon-footer img {
    height: 15px;
    width: auto;
    margin-right: 20px;
}

div#copyright {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size:1em;
    color:white;
}

/* ------------------------ */


/* ---- Media queries ---- */

@media only screen and (max-width: 675px) {
  div#aboutMe div#aboutMe-description {
    border:none;
  }
}

@media only screen and (max-width: 620px) {
  nav.nav_menu {
    display:none;
  }
}

@media only screen and (max-width: 500px) {
  div#greeting p#name {
    font-size:2em;
  }

  div#greeting div#description p#job-title {
      font-size:1em;
  }
}

@media only screen and (min-width: 1200px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}
  
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@media only screen and (min-width: 1200px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ffffff;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}